
<!DOCTYPE html>
<html>
<head>
  <title>Virtual Library</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'virtual_library/library.css' %}">
</head>
<body>
  <h3>What the project is about</h3>
  <div class="virtual-library-project">
    <p>A web application that provides users with access to a digital library to check out books.</p>
    The app would have features such as user authentication and authorization, so that users can create accounts, log in, and access their own library of resources.
    <p>It could also have search and filtering functionality, allowing users to search for resources by title, author, genre, or other criteria. </p>
    <p>Behind the scenes, the app may use a variety of technologies such as Django for the server-side code, a database to store user and resource information, and various APIs for accessing and integrating with external services such as payment processors, digital media providers, and recommendation engines.</p>
  </div>
  <footer>©2023 Hao Mai</footer>
  <div> <svg width="300" height="300" data-name="corner-bottom-right" xmlns="http://www.w3.org/2000/svg"
    style="pointer-events:none" data-inlinesvg=".inlineSvgFile-6">
</body>
</html>
